<!-- prod_agreement.html -->
{% extends 'prod_brief.html' %}

{% block content %}
		{% for message in messages %}
			<div class='alert-{{ message.tags }}'>{{ message }}</div>
		{% endfor %}
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<p style='font-family:微软雅黑;font-size:14pt;font-weight:bold;'>
					<a href='#'>服务协议</a>
				</p>
			</div>
			<div class='panel-body' style='background-color:#ffffdd'>

				<p>
					使用树形图制造厂服务（以下简称“服务”）即表示您同意接受树形图制造厂服务协议（以下简称“本协议”）和相关法律法规的约束。
				</p>
				<p>
					一、定义
				</p>
				<p>
					树形图制造厂数据指通过树形图制造厂的开放服务获得的任何数据，包括不限于树形图结果数据等。
				</p>
				<br/>
				<p>
					二、API访问
				</p>
				<p>
					1、您可以通过树形图制造厂提供的API或SDK来开发服务或应用，已实现产生树形图的服务。
				</p>
				<p>
					2、使用树形图制造厂开放服务时，以下损害树形图制造厂利益的行为是不被允许的：
				</p>
				<p>
						&nbsp&nbsp 2.1 向任何第三方销售、分发、再授权、重新分配、提供或传送任何树形图制造厂数据。
				</p>
				<p>
					    &nbsp&nbsp 2.2 使用“树形图制造厂”等字样来命名自己的产品。
				</p>
				<p>
					3、树形图制造厂可能会监控您对树形图制造厂API或SDK的使用，以改善服务，并确保您遵守本条款。本厂保留随时要求删除特定或者全部树形图制造厂数据的权利。
				</p>
				<p>
					4、如有超出以上访问规则的其他需要，请联系我们，如双方协商一致，可在本厂出具书面许可。
				</p>
				<br/>
				<p>
					三、使用限制
				</p>
				<p>
					1、任何技术滥用或用户滥用（如制造垃圾广告信息等）或违反国家法律规定或可能损害树形图制造厂利益的行为，都会导致您的账户被直接地永久地封禁，并且本厂以及本厂的管理者保留进一步追偿的权利。
				</p>
				<br/>
				<p>
					四、服务费用
				</p>
				<p>
					1、树形图制造厂服务的收费方式及价格信息以网页公布的计费方式和支付方式为准。
				</p>
				<p>
					2、您登录树形图制造厂开放平台后，可通过管理控制台查看帐号信息、接入服务项目以及充值及剩余额度等信息。
				</p>
				<p>
					3、若剩余额度数量不足，您应及时充值，否则树形图制造厂有权暂停为您提供付费服务。
				</p>
				<p>
					4、树形图制造厂有权根据需要对收费服务的收费标准、计费及支付方式进行修改及变更，亦有权对免费服务进行收费。涉及服务费用的调整，本厂将提前30天通知您（本厂有权选择以线下或者线上的形式进行通知）。如您不同意相关调整，应立即停止使用本厂开放平台服务，如您在本厂调整收费标准7日内，仍继续使用服务，视为您已接受新的收费标准，并将按此标准向百度公司支付费用。
				</p>
				<br/>
				<p>
					五、隐私保护
				</p>
				<p>
					1、树形图制造厂尊重您的个人隐私，不会公开或者透露您的注册信息及保存在树形图制造厂开放平台上的非公开内容，除非遇到如下情况：
				</p>
				<p>
					&nbsp&nbsp 1.1 事先获取您的明确授权；  
				</p>
				<p>
					&nbsp&nbsp 1.2 根据法律、法规、法律程序的要求或政府主管部门的强制性要求；
				</p>
				<p>
					&nbsp&nbsp 1.3 以学术研究或公共利益为目的；
				</p>
				<p>
					&nbsp&nbsp 1.4 保护维持本厂的知识产权和其他重要权利；
				</p>
				<p>
					&nbsp&nbsp 1.5 符合相关服务条款或使用协议的规定；
				</p>
				<p>
					2、本厂尊重您提供的树形图制造数据，不会向第三方提供您的制作数据。
				</p>
				<p>
					3、您使用本厂服务向第三方提供任何收费或者免费的服务时，应充分尊重第三方的隐私，不得利用树形图制造厂开放平台服务进行任何侵害第三方隐私的行为。
				</p>
				<br/>
				<p>
					六、责任限定
				</p>
				<p>
					1、在使用法律允许的最大范围呢，本厂明确表示不对通过树形图制造厂开放平台提供的树形图制造数据提供任何类型的保证，不论明示的或默示的，包括但不限于适销性、适用性、可靠性、准确性、完整性、不侵权、无病毒以及无错误的任何默示保证和责任。
				</p>
				<p>
					2、您对树形图API或SDK的使用是根据您自己的判断作出的，并自己承担所带来的风险，对于因使用树形图API或者SDK服务而产生的一切损失将由个人承担。
				</p>
				<br/>
				<p>
					七、知识产权
				</p>
				<p>
					1、您承认树形图制造厂拥有对树形图API或SDK服务的所有权，包括但不限于所有知识产权。“知识产权”指在专利法、版权法、商业机密法、商标法、反不正当竞争法等法中规定的所有权利以及其中的所有应用、更新、扩展和恢复，无论在现在还是以后在全球范围内实施和生效。
				</p>
				<p>
					2、您不能储存、更改、反编译、反向工程或者反汇编树形图制造厂API或SDK，以及不能通过黑客手段及其他手段获取本网站非公开信息。
				</p>
				<br/>
				<p>
					八、服务终止
				</p>
				<p>
					1、树形图制造厂有权在任意时间以任何理由终止API或SDK服务。当您出现对本协议的任何违反，或者本厂向您发出了终止服务的通知，您将无权使用树形图API或者SDK服务。
				</p>
				<p>
					2、树形图制造厂可随时对本协议作出变更并通过适当方式向您提示变更内容。您理解并同意，如果您在本协议作出变更后继续使用服务，则视为接受该变更。
				</p>
				<br/>
				<p>
					上述条款将受中华人民共和国法律的约束并依据其解释。如出现纠纷，您和树形图制造厂一致同意将纠纷交由北京市海淀区人民法院管辖。
				</p>
				<p>
					如您对本协议内容有任何疑问，可发邮件至树形图制造厂客服邮箱：
				</p>
				<p>
					unicoder@sohu.com
				</p>
				<p>
					在法律允许的范围内，本协议的最终解释权归树形图制造厂所有。
				</p>
				
			</div>
			<div class='panel-footer' style='background-color:#efefef'>
				<p>
					发布时间：2019-10-25
				</p>
			</div>
		</div>
		<br/>
	
{% endblock %}

<!--<h2>创建模态框（Modal）</h2>-->
<!-- 按钮触发模态框 -->
<!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	登录
</button>
<p>{{ user_name }}</p>-->
<!-- 模态框（Modal） -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					TreeMap  用户名密码登录
				</h4>
			</div>
			<div class="modal-body">
				<form name='login'  method='POST'>
					{% csrf_token %}
					<table border="0">
						<tr>
							<td align='right'>
								<label for='user_id'>您在本站的用户名：</label>
							</td>
							<td>
								<input id='user_id' type='text' name='user_id'>
							</td>
						</tr>
						<tr>
							<td align='right'>
								<label for='user_pass' >您的密码：</label>
							</td>
							<td>
								<input id='user_pass' type='password' name='user_pass'>
							</td>
						</tr>
						<tr>
							<td/>
							<td>
								<input type='submit' class="btn btn-default" value='登录'> -->
								<!--<input type='reset' class="btn btn-default" value='清除重填'>-->
<!-- 								<button type="button" class="btn btn-default" data-dismiss="modal">取消
							</td>
						</tr>
					</table>
				</button>
				</form>
			</div>
			<div class="modal-footer">
				
				<button type="button" class="btn btn-primary">
					尚未注册？
				</button>
			</div>
		</div> --><!-- /.modal-content -->
	<!-- </div> --><!-- /.modal -->
<!-- </div>
</body>
</html>  -->